<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <%= render @to_do %>
  </div>
    <div class="col-md-4">
    <%= render @doing %>
  </div>
    <div class="col-md-4">
    <%= render @done %>
  </div>
</div>
<br>

<%= link_to 'New Task', new_task_path %>
