<p id="notice"><%= notice %></p>

<h1>To do</h1>
<%= render partial: 'tasks_table', locals: {tasks: @to_do} %>

<h1>Doing</h1>
<%= render partial: 'tasks_table', locals: {tasks: @doing} %>

<h1>Done</h1>
<%= render partial: 'tasks_table', locals: {tasks: @done} %>

<br>

<%= link_to 'New Task', new_task_path %>
